@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Defaults */
html,
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    color: black;
    padding-top: 50px;
}

/* Button Outline */
button {
    border: none;
    outline: none;
    box-shadow: none;
}

/* Loader */
#loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: transparent;
    -webkit-box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
    -o-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
    transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
    z-index: 9000000;
}

#loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: white;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#loader.show {
    -webkit-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
    transition: opacity 0.4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

/* Outline */
input {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Error Messages */
#errorHandler {
    color: red;
}

/* Text Colored */
.text-colored {
    color: #2F3FB0;
}

/* Displays */
.d-none {
    display: none !important;
}

.d-inline {
    display: inline-block !important;
}

/* VC Channel Modal */
#modalForm {
    transform: translateY(20%) scaleX(1) !important;
}

/* Button(s): speakOut */
.btn-speakout {
    background-color: #2F3FB0;
    color: white;
    border: 1px solid #2F3FB0;
    border-radius: 30px;
    min-width: 200px;
    max-width: 350px;
    min-height: 45px;
    max-height: 55px;
}

.btn-speakout:hover {
    background-color: white;
    color: #2F3FB0;
    border: 1px solid #2F3FB0;
}

.btn-actions-vc {
    background-color: rgba(0, 0, 0, 0.548);
    border: 1px solid rgba(0, 0, 0, 0.548);
    color: white;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
}

.btn-actions-vc:hover,
.btn-actions-vc:focus {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.548);
    color: rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    outline: none;
    box-shadow: none;
}

.btn-actions-vc-danger {
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
}

.btn-actions-vc-danger:hover,
.btn-actions-vc-danger:focus {
    background-color: white;
    border: 1px solid red;
    color: red;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
}

/* Navbar Custom */
.navbar-custom {
    background: #2F3FB0;
    color: white;
    min-height: 64px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 20000;
}

.navbar-custom a {
    color: white;
}

.navbar-custom a:hover {
    color: rgba(245, 245, 245, 0.699);
    text-decoration: none;
}

.navbar-brand {
    font-size: 2rem;
}

@media (min-width: 768px) {

    .pl-md-5,
    .px-md-5 {
        padding-left: 2rem !important;
    }

}

/* Readonly */
input[readonly],
.form-control:disabled,
.form-control[readonly] {
    background-color: white;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 0.9rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

/* Video Call */
#buttons-container {
    position: fixed;
    top: 70px;
    z-index: 10000;
    text-align: center;
    width: 100%;
}

#full-screen-video {
    width: 100%;
    position: absolute;
    top: 64px;
    height: 100vh;
}

#lower-video-bar {
    min-height: 20vh;
}

#local-stream-container {
    position: relative;
    display: inline-block;
    float: right;
}

.remote-stream-container {
    position: relative;
    display: inline-block;
    height: 200px;
    float: left;
}

#remote-streams {
    height: 100%;
}

#local-video {
    position: relative;
    z-index: 1;
    height: 100% !important;
    min-width: 250px;
    max-width: 300px;
}

.remote-video {
    z-index: 1;
    height: 100% !important;
    min-width: 250px;
    max-width: 300px;
}

#mute-overlay {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 15px;
    color: #d9d9d9;
    font-size: 1.5em;
    padding: 0 0 3px 3px;
    display: none;
}

.mute-overlay {
    position: absolute;
    z-index: 2;
    top: 2px;
    color: #d9d9d9;
    font-size: 1.5em;
    padding: 2px 0 0 2px;
    display: none;
}

#no-local-video,
.no-video-overlay {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 40%;
    color: #cccccc;
    font-size: 2.5em;
    margin: 0 auto;
    display: none;
}

.no-video-overlay {
    width: 80%;
}

/* Custom Toggler */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}